{% extends "header.html" %}
{% block content %}
 <style>
    body{
        background-color: white;
    }
</style>
<body>
    <div class="container kBox kLoading">
        <h3 class="kHeading display-4">Use this website to make your trading decisions for you</h3>
        <hr class="hr-1">
        <div class="text-center">
            <button style="width: 350px;" onclick="window.location.href='visualize'" class="custom-btn btn-3"><span>View the results of our forecasting model</span></button>
        </div>

    </div>
</body>
{% endblock content %}