{% extends "header.html" %} {% block content %}
<style>
  #about-section > * {
    display: block;
    text-align: center;
    margin: 20px;
  }
  .prediction_link {
    height: 30%;
    width: 30%;
    padding: 10px;
    border-left-style: solid;
    border-bottom-style: solid ;
  }

  .detect_link {
    height: 30%;
    width: 30%;
    padding: 10px;
    border-left-style: solid;
    border-bottom-style: solid ;

  }
</style>
<body>
  <div id="about-section">
    <div class="prediction_link">
      <h3 class="display-6">
        Use this website to make your trading decisions for you
      </h3>
      <hr class="hr-1" />
      <a class="btn btn-primary" href="visualize" role="button"
        >View the results of our forecasting model</a
      >
    </div>
    <div class="detect_link">
      <h3 class="display-6">
        Our Machine Learning and Deep Learning algorithms were built using data
        from the NSE of India
      </h3>
      
      <hr class="hr-1" />
      <a class="btn btn-primary" href="visualize" role="button">View our project code on Github</a>
    </div>
  </div>
</body>
{% endblock content %}
