{% extends "header.html" %}
{% block content %}
   <h1>Predict Page</h1>
   <div class="container">

         <div class="text-center">
            <h3>E-mail sent to {{ uemail }} successfully</h3>
         </div>
      

         <div class="text-center">
            <h4>The RSI value of {{ company }} is: {{rsi}}</h4>
         </div>
         <br>

         <div class="text-center">
            <h4>Trend is: {{trend}}</h4>
         </div>
         <br>
   </div>
{% endblock content %}