{% extends "header.html" %}
{% block content %}
    <div style="margin-top: 20px;" class="container">
        
        <center>
            <h1>Trend Detection</h1>
        </center>

        <form action="{{url_for('trend')}}" method="POST" class="border rounded" style="padding: 20px;">
            
            <div class="text-center">
                <h4>Get RSI value for NIFTY 50</h4>
            </div>
            <br>
            <div class="text-center">
                <button type="submit" class="btn btn-md btn-outline-primary rounded-pill">Get RSI</button>
            </div>
            <br>

            <div class="text-center">
                <h4>The RSI value is: {{rsi}}</h4>
            </div>
            <br>


            <div class="text-center">
                <h4>Trend is: {{trend}}</h4>
            </div>
            <br>

        </form>
    </div>

{% endblock content %}